<div class="container">
     <div class="row">
          <div class="col-md-12, col-md-offset-3">
                <%= image_tag("fastjax.jpg", class: "img-responsive") %>
                <br />
                <br />
          </div>
     </div>
     <div class="row">
          <div class="col-md-12" col-md-offset-3">
              <%= form_for @listings do |f| %>
              <pre>
                  <%= f.label :name %>
                  <%= f.text_field :name %>
                  <br />
                  <%= f.label :description %>
                  <%= f.text_area :description %>
                  <br />
                  <%= f.label :city %>
                  <%= f.text_field :city %>
                  <br />
                  <%= f.label :state %>
                  <%= f.text_field :state %>
                  <br />
                  <%= f.label :zipcode %>
                  <%= f.text_field :zipcode, class: "zip-width", maxlength: "5" %>
                  <br />
                  <%= f.label :sideoftown %>
                  <%= f.text_field :sideoftown %>
                  <br />
                  <%= f.submit class: 'btn btn-primary' %>
                  <% end %>
                </pre>
          </div>
     </div>
</div>
