<div class="container">
     <div class="row">
          <div class="col-md-12">
                <%= link_to 'Home', root_path %> > 
                <br />
                <br />
          </div>
     </div>
     <div class="row">
          <div class="col-md-12 ">
              <h1><%= @listings.name %></h1>
              <br />
              <br />
              <%= @listings.description %>
              <br />
              <br />
              <%= @listings.city %>
              <br />
              <br />
              <%= @listings.state %>
              <br />
              <br />
              <%= @listings.zipcode %>
              <br />
              <br />
              <%= @listings.sideoftown %>
              <hr />
              <br />
              <b>Category:</b> <%= @listings.id %>
              <br />
              <br />
              <b>Created:</b> <%= time_ago_in_words(@listings.created_at) %>
          </div>
     </div>
</div>