 <div class="container">
     <div class="row">
          <div class="col-md-12, col-md-offset-3">
                <%= image_tag("fastjax.jpg", class: "img-responsive") %>
                <br />
                <br />
           </div>
     </div>
</div>
<div class="container">
     <div class="row h3">
          <div class="col-md-3 col-md-offset-1">
               <center><%= link_to 'Activities' %></center>  
               <div class="row h6">
                     <table class="table table-striped">
                            <tr>
                                <td>
                                  <% @activities.subcategories.each do |subcategory| %>
                                     <ul>
                                       <li><%= link_to subcategory.name %></li>
                                     </ul>
                                  <% end %>
                                </td>
                            </tr>
                    </table>
               </div>
          </div>
          <div class="col-md-3 col-md-offset-1">
               <center><%= link_to 'Advertising Firms' %></center>  
               <div class="row h6">
                     <table class="table table-striped">
                            <tr>
                                <td>
                                  <% @advertising_firms.subcategories.each do |subcategory| %>
                                     <ul>
                                       <li><%= link_to subcategory.name %></li>
                                     </ul>
                                  <% end %>
                                </td>
                            </tr>
                    </table>
               </div>
          </div>
          <div class="col-md-3 col-md-offset-1">
               <center><%= link_to 'Air Conditioning' %></center>  
               <div class="row h6">
                     <table class="table table-striped">
                            <tr>
                                <td>
                                  <% @air_conditioning.subcategories.each do |subcategory| %>
                                     <ul>
                                       <li><%= link_to subcategory.name %></li>
                                     </ul>
                                  <% end %>
                                </td>
                            </tr>
                    </table>
               </div>
          </div>
     </div>
     <div class="row h3">
          <div class="col-md-3 col-md-offset-1">
               <center><%= link_to 'Airport' %></center>  
               <div class="row h6">
                     <table class="table table-striped">
                            <tr>
                                <td>
                                  <% @airport.subcategories.each do |subcategory| %>
                                     <ul>
                                       <li><%= link_to subcategory.name %></li>
                                     </ul>
                                  <% end %>
                                </td>
                            </tr>
                    </table>
               </div>
          </div>
          <div class="col-md-3 col-md-offset-1">
               <center><%= link_to 'Bakeries' %></center>  
               <div class="row h6">
                     <table class="table table-striped">
                            <tr>
                                <td>
                                  <% @bakeries.subcategories.each do |subcategory| %>
                                     <ul>
                                       <li><%= link_to subcategory.name %></li>
                                     </ul>
                                  <% end %>
                                </td>
                            </tr>
                    </table>
               </div>
          </div>
          <div class="col-md-3 col-md-offset-1">
               <center><%= link_to 'Beauty Shops' %></center>  
               <div class="row h6">
                     <table class="table table-striped">
                            <tr>
                                <td>
                                  <% @beauty_shops.subcategories.each do |subcategory| %>
                                     <ul>
                                       <li><%= link_to subcategory.name %></li>
                                     </ul>
                                  <% end %>
                                </td>
                            </tr>
                    </table>
               </div>
          </div>
     </div>
</div>
     


