<!DOCTYPE html>
<html>
<head>
  <title>Fastjaxbeta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
               <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><%= link_to 'Home', root_path, :class => "navbar-brand" %></a>
                    <a class="navbar-brand" href="#"><%= link_to 'Contact', help_path, :class => "navbar-brand" %></a>
               </div>
              <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                          <div class="row">
                                <div class="form-group">
                                     <input type="text" placeholder="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                     <input type="password" placeholder="Password" class="form-control">
                                </div>
                                <div class="form-group">
                                     <button type="submit" class="btn <btn-primay></btn-primay>">Sign In</button>
                                </div>
                                <div class="form-group">
                                     <%= button_to('Sign Up',user_registration_path, :class => 'btn btn-large btn-primary')  %>
                                </div>
                          </div>
                    </form>
              </div><!--/.navbar-collapse -->
          </div>
      </div>
  </nav>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
